<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Jogo da Forca</h1>
    <img id="bonequinho" src="{{ url_for('static', filename='midia/forca0.png') }}">
    <p>Dica: É uma profissão!</p>
    <p id="palavra">{{ estado|join(" ") }}</p>
    <p id="tentativas">Tentativas restantes: {{ tentativas }}</p>
    <div id="letras"></div>
    <p id="resultado"></p>

    
    <button id="jogarNovamente" style="display: none">Jogar Novamente</button>

    <script src="/static/script.js"></script>
  </body>
</html>
